@using System.Web.Mvc.Html

@section Headers {
	<link rel="stylesheet" href="~/css/app.css"/>	 
}
<div id="usersDiv" ng-app="ngdemo">
    <div ng-view></div>
</div>

<script src="~/js/app.js" type="text/javascript" ></script>
<script src="~/js/services.js" type="text/javascript" ></script>
<script src="~/js/controllers.js" type="text/javascript" ></script>
<script src="~/js/filters.js" type="text/javascript" ></script>
<script src="~/js/directives.js" type="text/javascript" ></script>

<script type="text/javascript">

    $(document).ready(function () {
        
    });
    </script>
