@using System.Web.Mvc.Html

@section Headers {
	<link rel="stylesheet" href="~/css/app.css"/>
	<link rel="stylesheet" href="~/lib/angular/ng-table.css"/>
	<link rel="stylesheet" href="~/lib/angular/bootstrap.min.css" /> 
}
<div id="usersDiv" ng-app="ngdemo">
    <div ng-view></div>
</div>

<script src="~/lib/angular/angular.js" type="text/javascript" ></script>
<script src="~/lib/angular/angular-route.min.js" type="text/javascript"></script>
<script src="~/lib/angular/angular-translate.min.js" type="text/javascript"></script>
<script src="~/lib/angular/angular-translate-loader-static-files.min.js" type="text/javascript"></script>
<script src="~/lib/angular/ui-bootstrap-tpls.min.js"type="text/javascript"></script>
<!-- <script src="~/lib/angular/angular-resource.js"type="text/javascript"></script>  -->
<script src="~/lib/jquery-1.7.2.js" type="text/javascript"></script>
<script src="~/lib/angular/ng-table.js" type="text/javascript"></script>
<script src="~/js/app.js" type="text/javascript" ></script>
<script src="~/js/services.js" type="text/javascript" ></script>
<script src="~/js/controllers.js" type="text/javascript" ></script>
<script src="~/js/filters.js" type="text/javascript" ></script>
<script src="~/js/directives.js" type="text/javascript" ></script>

<script type="text/javascript">

    $(document).ready(function () {
        
    });
    </script>
